body {
    font-family: "Century Gothic", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #00214d;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 450px;
    height: 1150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 400px;
    height: auto;
    margin-top: 45px;
}

.social-buttons {
    margin-top: 60px;
}



.boton {
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 30px;
    margin: 20px auto;
    width: 80%;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    height: 65px;
    cursor: pointer;
}

.boton span {
    text-decoration: none;
    color: #00b4be;
}

.boton i {
    position: absolute;
    left: 25px;
    font-size: 30px;
    margin-right: 20px;
    color: #00b4be;
}

footer {
    margin: 100px 0;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: white;
    font-weight: bold;
}

footer a:visited {
    color: white;
}


button {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
}

